html, body, #root{
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* .main {
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: rgb(229, 255, 255);
  background-image: linear-gradient(rgba(244, 242, 245, 0.11), rgb(90 164 181 / 31%));
  align-items: center;
}
.sub-main {
  height: 80%;
  width: 35%;
  box-shadow: none;
  border-radius: 10px; 
  background-color: white;
}  */



.main {
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex; 
  background-color: rgb(229, 255, 255);
  background-image: linear-gradient(rgba(244, 242, 245, 0.11), rgb(90 164 181 / 31%));
}
.sub-main {
  height: 85%;
  width: 35%;
  margin: 5% 5%;
  border-radius: 10px; 
  background-color: white;
}

.card{
  margin: 8% 8% 0 8%;
}

.container-image {
  background-color: rgb(223, 221, 221);
  border-radius: 50%;
  height: 25%;
  width: 25%;
  display: flex;
  margin: 0 37%;
}

.imgs sub{
  padding: 12px;
}

.profile {
  height: 90%;
  width: 100%;
  border-radius: 130px;
} 

.pasw{
  width: 90%;
  height: 50px;
  border-radius: 60px;
  border: 2px solid #3079d1;
  outline: none;
}

.larrow{
  height: 18px;
  width: 18px;
  position: inherit;
  float: left;
  padding: 0px 10px 0 0px;
}

.pasw-input{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}
.pasw-input  sub{
  padding: 10px;
}


.login-button{
  padding: 20px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.check{
  float: left;
  border: none;
  margin: 0%;
  padding: 0%;
}
.checkLabel{
  float: left;
  font-size: 15px;
  padding-left: 10px;
  font-weight: 500;
}

.btn{
  width: 50%;
  float: right;
  position: inherit;
  height: 50px;
  border-radius: 60px;
  background-color: #4255bd;
  color: white;
  font-size: 25px;
  border: none;
}

.link{
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
 .link span{
  color: #234e81;
  font-weight: bold;
 }

 .privacy{
  width: 100%;
  height: 50px;
 }

 .privacy pre{
  margin: 0;
  font-size: 12px;
  font-family: inherit;
  color: #c6c6c6;
 }
 .privacy a{
  color: #666666;
 }